* {
  color: #eceff4;
}

body {
  background-color: #2e3440;
}

.container {
  background-color: #434c5e;
  display: flex;
  margin: 100px;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

.container p {
  font-size: 2rem;
  font-weight: bold;
}

.choices {
  display: flex;
  gap: 10px;
}

.choices button {
  font-size: 3rem;
  background-color: #d8dee9;
  border-radius: 10px;
  padding: 25px;
}

.choices button:hover {
  background-color: #eceff4;
  transform: scale(1.1);
  cursor: pointer;
}

.player-choice {
  margin: 10px;
}

.computer-choice {
  margin: 10px;
}

.result-display {
  margin: 10px;
}
