* {
  color: white;
}

body {
  background-color: #2e3440;
}

.container {
  background-color: #434c5e;
  display: flex;
  margin: 50px;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
}

.container h3 {
  color: blue;
  text-decoration: bold;
}

.choices {
  display: flex;
  gap: 10px;
}

.choices button {
  font-size: 3rem;
  background-color: #d8dee9;
  border-radius: 10px;
  padding: 25px;
}
